In [3]:
from src.fetch_stock import fetch_apple_stock_data

df = fetch_apple_stock_data("2022-01-01")
df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-01-03 00:00:00-05:00,174.771775,179.734931,174.653844,178.879883,104487900,0.0,0.0
2022-01-04 00:00:00-05:00,179.489238,179.793905,176.039592,176.609619,99310400,0.0,0.0
2022-01-05 00:00:00-05:00,176.521213,177.071580,171.636682,171.911865,94537600,0.0,0.0
2022-01-06 00:00:00-05:00,169.730027,172.285320,168.688259,169.042068,96904000,0.0,0.0
2022-01-07 00:00:00-05:00,169.916771,171.145275,168.088758,169.209152,86709100,0.0,0.0